/* Basic CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbd9cf;
}

.calculator {
    box-shadow: 200000px 15000px 2500000px rgba(0, 0, 0, 10);
    background-color: #dbd9cf;
    border-radius: 10px;
    padding: 9px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    height: 50px;
    background-color: #222;
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #666;
}

.equal-btn {
    background-color: #e50914;
    color: white;
}

.equal-btn:hover {
    background-color: #b0060d;
}

.zero-btn {
    grid-column: span 2;
}
